/* App.css */


@font-face {
  font-family: 'consola';
  src: local('Consola'), url(./fonts/Consola.ttf) format('truetype');
}

@font-face {
  font-family: 'robotoslabregular';
  src: local('RobotoSlabRegular'), url(./fonts/RobotoSlabRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'source-code-pro';
  src: local('SourceCodeProRegular'), url(./fonts/SourceCodePro-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: robotoslabregular, consola,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, consola, 'Courier New', monospace;
}

pre {
  font-family: consola, 'Courier New', monospace;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.rasabot {
  top: 80px;
}

.rcb-container {
  left: 320px;
  top: 80px;
  width: inherit;
}

.rcb-bot-message {
  max-width: inherit;
  white-space: pre;
}

.rcb-header-text {
  width: 95%
}

.pf-v5-c-log-viewer__main {
  font-family: consola, 'Courier New', monospace;
}