:root {


  --signageTextColor: rgb(181, 132, 59);
  --placeholderColor: rgb(255, 255, 255);
  --borderColor: rgba(75, 75, 75, 1);
  --borderColorLight: rgba(175, 175, 175, 1);
  --backgroundColor: #616161;
  --backgroundColorLight: #717171;
  --backgroundColorDisconnected: #9b002e;
  --primaryDialogTitleTextColor: rgb(215, 215, 215);
  --primaryDialogTitleBackgroundColor: rgb(108, 108, 108);
  --primaryTextColor: rgb(215, 215, 215);
  --highlightedTextColor: rgb(255, 255, 255);
  --primaryTextColorDark: rgb(175, 175, 175);
  --backgroundColor1: #626262;
  --tabBackgroundColor: rgba(66, 66, 66, 1);
  --tabIndicatorBackgroundColor: rgb(223, 202, 150);
  --cardContentBackgroundColor: rgb(223, 202, 150);
  --cardSelectedContentBackgroundColor: rgb(255, 230, 164);
  --cardActionBackgroundColor: rgb(176, 157, 110);
  --listBackgroundColor: rgba(121, 121, 121, 1);
  --listColor: rgba(222, 222, 222, 1);
  --listHeaderBackgroundColor: rgba(75, 75, 75, 1);
  --tabLabelColor: rgb(135, 135, 135);
  --tableHeaderBackgroundColor: rgba(66, 66, 66, 1);
  --tableHeaderLoadingBackgroundColor: rgba(93, 93, 93, 1);
  --tableHeaderColor: rgb(215, 215, 215);
  --tableRowBackgroundColor: rgb(56, 56, 56);
  --tableRowSelectedBackgroundColor: rgba(155, 101, 7, 0.7);
  --tableRowDisabledBackgroundColor: rgb(93, 93, 93);
  --tableRowDisabledColor: rgba(135, 135, 135, 1);
  --tableRowColor: rgba(135, 135, 135, 1);
  --tableRowSelectedColor: rgb(255, 230, 164);
  --chartBackground: rgb(138, 138, 138);
  --selectBackgroundColor: #717171;
  --selectHoverBackgroundColor: #616161;
  --disabledButtonBackgroundColor: rgba(75, 75, 75, 1);
  --disabledButtonColor: rgb(135, 135, 135);
  --buttonBackgroundColor: rgba(135, 135, 135, 1);
  --buttonBackgroundColor1: rgb(181, 132, 59);
  --buttonColor: rgb(255, 255, 255);
  --logWindowBackgroundColor: rgba(75, 75, 75, 1);
  --logWindowTextColor: rgba(215, 215, 215, 1);
  --focusedBorderColor: rgba(215, 215, 215, 1);
  --progressCircleColor: rgb(144, 250, 132);
  --progressDarkCircleColor: rgb(70, 63, 66);
  --checkboxCheckedBackgroundColor: rgb(93, 93, 93);
  --checkboxCheckedColor: rgb(215, 215, 215);
  --checkboxUncheckedBackgroundColor: rgba(66, 66, 66, 1);
  --lazyLoaderBackgroundColor: rgba(255, 104, 114, .5);
  --busyIndicatorColor: rgb(246, 212, 143);
  --addButtonBackgroundColor: rgb(107, 137, 248);
  --addButtonTextColor: rgb(255, 248, 246);
  --importButtonBackgroundColor: rgb(255, 217, 180);
  --importButtonTextColor: rgb(70, 63, 66);
  --adminUserAvatarColor: rgb(233, 148, 243);
  --normalUserAvatarColor: rgb(180, 179, 179);
  --backdropColor: rgb(255, 230, 164);
  --deleteButtonColor: rgb(227, 227, 227);
  --popupColor: #131313;
  --popupHighlightColor: #232323;
  --popupColor1: #cccccc;
  --popupHighlightColor1: #dedede;
  --popupBackgroundColor: #d9d9c2;
  --popupBackgroundColor1: #2a2a2a;

}

body {
  margin: 0;
  font-family: Segoeui, Cabin, RobotoSlabRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  font-family: ledger, Consolas, monospace;
  border: 1px solid red;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}